<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">App List</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
    </div>
</div>
<!--
<nav class="side-nav">
    <div class="topcoat-list__container side-nav__list__container">
        <ul class="topcoat-list side-nav__list">
            <li class="topcoat-list__item side-nav__list__item">
                <a href="#" class="side-nav__button">Item</a>
            </li>
            <li class="topcoat-list__item side-nav__list__item is-active">
                <a href="#" class="side-nav__button">Item</a>
            </li>
            <li class="topcoat-list__item side-nav__list__item">
                <a href="#" class="side-nav__button">Item</a>
            </li>
        </ul>
    </div>
</nav>
-->
<div class="topcoat-list">
    <h3 class="topcoat-list__header">App Builds</h3>
    <ul class="topcoat-list__container" ng-repeat="build in buildList">
          <a ng-href="#builds/{{build.id}}" > 
        <li class="topcoat-list__item" >
            {{ build.platform }}, {{ build.form }}, {{ build.appName }}, {{ build.state }}, {{ build.version }}
        </li>
           </a> 
    </ul>
</div>
