<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item left quarter">
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Topcoat Drawer</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
    </div>
</div>

<div class="topcoat-list">
    <h3 class="topcoat-list__header">App Builds</h3>
    <ul class="topcoat-list__container">
        <!--    <a src="#"> -->
        <li class="topcoat-list__item" >
            {{buildDetail.appName}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.version}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.platform}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.jobName}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.commit}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.build}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.timestamp}}
        </li>
        <li class="topcoat-list__item" >
            {{buildDetail.state}}
        </li>
        <!--    </a> -->
    </ul>
</div>
