<div class="topcoat-navigation-bar">
    <div class="topcoat-navigation-bar__item center full">
        <h1 class="topcoat-navigation-bar__title">Cordova Bridge Demo</h1>
    </div>
</div>
<div class="topcoat-list">
  <h3 class="topcoat-list__header">Details</h3>
  <ul class="topcoat-list__container">
    <li class="topcoat-list__item">
      <strong>User Agent</strong><br/>{{userAgent}}
    </li>
    <li class="topcoat-list__item">
      <strong>Is Cordova</strong><br/>{{isCordova}}
    </li>
    <li class="topcoat-list__item">
      <strong>Is Native</strong><br/>{{isNative}}
    </li>
    <li class="topcoat-list__item">
      <strong>Is Browser</strong><br/>{{isBrowser}}
    </li>
  </ul>
</div>
<div class="center">
<button class="topcoat-button">Get Contacts</button>
</div>

<!--
<div class="topcoat-list__container scroller" style="top:138px;">
    <ul class="topcoat-list list">
        <li ng-repeat="employee in employees | filter:query | orderBy:orderProp" class="topcoat-list__item">
            <a ng-click="go('/employees/' + employee.id)">
                <img ng-src="pics/{{employee.pic}}">
                <p>{{employee.firstName}} {{employee.lastName}}</p>
                <p>{{employee.title}}</p>
                <span class="chevron"></span><span class="count">{{employee.reports}}</span>
            </a>
        </li>
    </ul>
</div>
-->
