@import "common/all";
@import "styles";
@import "ui/all";


.form.single {
  .text-field, .number-field, .password-field {
    width: 80%;
  }
}

$list-title-font-size:  rem(13);
$list-title-font-weight: normal;